@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

body {
  height: 100%;
  margin: 0;
}

main {
  height: 800px;
}

main .greeting {
  background-image: url("../assets/img/IntroBackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main .container {
  display: flex;
  align-items: center;
}

main .container .car-bg {
  display: flex;
  justify-content: flex-end;
  height: 50%;
  width: 100%;
}

main .container .car-bg img {
  height: 100%;
  width: 700px;
}
