@import "animations";

body {
    height: 100%;
    margin: 0;
}


main {
    height: 800px;

    .greeting {
        background-image: url('../assets/img/IntroBackground.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container {
        display: flex;
        align-items: center;

        .car-bg {
            display: flex;
            justify-content: flex-end;
            height: 50%;
            width: 100%;

            img {
                height: 100%;
                width: 700px;
            }
        }
    }
}