body {
    height: 100%;
}


.container {
    display: flex;
    background-color: black;
    height: 2000px;
    width: 100%;
    position: relative;

    .first {
        width: 150px;
        height: 1000px;
        background-color: red;

        h1 {
            position: fixed;
        }
    }

    .second {
        width: 150px;
        height: 1000px;
        background-color: green;

        h1 {
            top: 0px;
            position: sticky;
        }
    }
}