@font-face {
  font-family: 'Product Sans Bold Italic';
  src: url(../assets/fonts/ProductSansBoldItalic.ttf);
}

@font-face {
  font-family: 'Product Sans Bold';
  src: url(../assets/fonts/ProductSansBold.ttf);
}

@font-face {
  font-family: 'Product Sans Italic';
  src: url(../assets/fonts/ProductSansItalic.ttf);
}

@font-face {
  font-family: 'Product Sans';
  src: url(../assets/fonts/ProductSansRegular.ttf);
}

.calculator {
  padding: 100px;
  width: 45%;
}

.calculator .calc-form {
  font-size: 24px;
  font-family: "Product Sans";
  display: flex;
  flex-direction: column;
}

.calculator .calc-form select {
  border-color: #61BF82;
  border-radius: 5px;
  width: 50%;
}

.calculator .calc-form .form-row-1 .car-type {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.calculator .calc-form .form-row-1 .engine-type {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.calculator .calc-form .form-row-2 {
  display: flex;
}

.calculator .calc-form .form-row-2 .form-col-1 {
  display: flex;
  flex-direction: column;
}

.calculator .calc-form .form-row-2 .form-col-1 div {
  padding-top: 10px;
}

.calculator .calc-form .form-row-2 .form-col-2 {
  display: flex;
  flex-direction: column;
}

.calculator .calc-form .form-row-2 .form-col-2 div {
  padding-top: 10px;
}

.calculator .calc-form .form-row-3 {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}
