@import "fonts";

$logo-light-green: #61BF82;
$logo-dark-green: #0CA579;
$logo-dark-gray: #6B6B6B;
$logo-light-gray: #C1C1C1;


@mixin flex($align-items: center, $justify-content: flex-start, $flex-direction: row, $flex-wrap: wrap) {
    display: flex;
    align-items: $align-items;
    justify-content: $justify-content;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
}

@mixin reset-list() {
    list-style-type: none;
    margin: 0px;
}